* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v510_3 {
  width: 100%;
  height: 5355px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v511_44 {
  width: 100%;
  height: 100%;
  background: url("../images/v511_44.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2758px;
  left: 1px;
  overflow: hidden;
}
.v510_12 {
  width: 100%;
  height: 112px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 912px;
  left: 0px;
  overflow: hidden;
}
.v510_15 {
  width: 100%;
  height: 188px;
  background: rgba(25,25,25,1);
  opacity: 1;
  position: absolute;
  top: 5167px;
  left: 1px;
  overflow: hidden;
}
.v510_16 {
  width: 726px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 5212px;
  left: 473px;
  font-family: Hiragino Kaku Gothic Pro;
  font-weight: W6;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v510_17 {
  width: 706px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 862px;
  left: 818px;
  font-family: Hina Mincho;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v510_18 {
  width: 232px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 931px;
  left: 377px;
  font-family: Hina Mincho;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v510_19 {
  width: 232px;
  color: rgba(255,65,65,1);
  position: absolute;
  top: 931px;
  left: 221px;
  font-family: Hina Mincho;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v510_20 {
  width: 340px;
  height: 64px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 936px;
  left: 1001px;
  border: 2px solid rgba(255,255,255,1);
  overflow: hidden;
}
.v510_21 {
  width: 120px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 947px;
  left: 833px;
  font-family: Hina Mincho;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v510_22 {
  width: 122px;
  color: rgba(144,138,138,1);
  position: absolute;
  top: 947px;
  left: 696px;
  font-family: Hina Mincho;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v510_23 {
  width: 71px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 947px;
  left: 598px;
  font-family: Hina Mincho;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v510_24 {
  width: 83px;
  height: 2px;
  background: rgba(255,65,65,1);
  opacity: 1;
  position: absolute;
  top: 985px;
  left: 294px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v520_7 {
  width: 100%;
  height: 937px;
  background: url("../images/v520_7.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1015px;
  left: 0px;
  overflow: hidden;
}
.v510_27 {
  width: 100%;
  height: 850px;
  background: url("../images/v510_27.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1908px;
  left: 0px;
  overflow: hidden;
}
.v510_30 {
  width: 549px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 1998px;
  left: 534px;
  font-family: Hina Mincho;
  font-weight: Regular;
  font-size: 64px;
  opacity: 1;
  text-align: center;
}
.v510_32 {
  width: 674px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 2198px;
  left: 472px;
  font-family: Zen Kaku Gothic New;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v510_37 {
  width: 733px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 2855px;
  left: 442px;
  font-family: Hina Mincho;
  font-weight: Regular;
  font-size: 40px;
  opacity: 1;
  text-align: center;
}
.v513_22 {
  width: 749px;
  color: rgba(168,168,168,1);
  position: absolute;
  top: 4310px;
  left: 438px;
  font-family: Hina Mincho;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v561_5 {
  width: 950px;
  height: 1471px;
  background: url("../images/v561_5.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2960px;
  left: 375px;
  overflow: hidden;
}
.v511_41 {
  width: 211px;
  height: 104px;
  background: url("../images/v511_41.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 156px;
  left: 654px;
  overflow: hidden;
}
.v511_43 {
  width: 211px;
  height: 103px;
  background: url("../images/v511_43.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 275px;
  left: 654px;
  overflow: hidden;
}
.v511_49 {
  width: 901px;
  height: 100%;
  background: rgba(44,51,48,0.9399999976158142);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  overflow: hidden;
}
.v511_50 {
  width: 498px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 552px;
  left: 82px;
  font-family: Hina Mincho;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v513_21 {
  width: 749px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 1162px;
  left: 82px;
  font-family: Hina Mincho;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v513_18 {
  width: 749px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 1261px;
  left: 76px;
  font-family: Hina Mincho;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v513_13 {
  width: 141px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 936px;
  left: 82px;
  font-family: Hina Mincho;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v513_15 {
  width: 556px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 936px;
  left: 223px;
  font-family: Hina Mincho;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v513_5 {
  width: 315px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 733px;
  left: 82px;
  font-family: Hina Mincho;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v511_51 {
  width: 861px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 515px;
  left: 57px;
  font-family: Hina Mincho;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v513_19 {
  width: 861px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 1119px;
  left: 57px;
  font-family: Hina Mincho;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v513_4 {
  width: 861px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 694px;
  left: 57px;
  font-family: Hina Mincho;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v513_6 {
  width: 589px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 801px;
  left: 82px;
  font-family: Hina Mincho;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v513_7 {
  width: 861px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 769px;
  left: 89px;
  font-family: Hina Mincho;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v511_52 {
  width: 241px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 431px;
  left: 19px;
  font-family: Hina Mincho;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
.v511_63 {
  width: 241px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 422px;
  left: 19px;
  font-family: Hina Mincho;
  font-weight: Regular;
  font-size: 11px;
  opacity: 1;
  text-align: center;
}
.v511_53 {
  width: 91px;
  height: 35px;
  background: rgba(156,174,208,1);
  opacity: 1;
  position: absolute;
  top: 436px;
  left: 403px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v511_54 {
  width: 119px;
  height: 35px;
  background: rgba(156,174,208,1);
  opacity: 1;
  position: absolute;
  top: 435px;
  left: 270px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v511_55 {
  width: 104px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 433px;
  left: 277px;
  font-family: Hina Mincho;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v511_56 {
  width: 104px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 433px;
  left: 397px;
  font-family: Hina Mincho;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v511_57 {
  width: 91px;
  height: 35px;
  background: rgba(156,174,208,1);
  opacity: 1;
  position: absolute;
  top: 436px;
  left: 507px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v513_23 {
  width: 91px;
  height: 35px;
  background: rgba(156,174,208,1);
  opacity: 1;
  position: absolute;
  top: 436px;
  left: 611px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v511_58 {
  width: 104px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 434px;
  left: 500px;
  font-family: Hina Mincho;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v513_24 {
  width: 104px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 434px;
  left: 604px;
  font-family: Hina Mincho;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v511_59 {
  width: 103px;
  height: 35px;
  background: rgba(137,137,137,1);
  opacity: 1;
  position: absolute;
  top: 436px;
  left: 716px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v511_60 {
  width: 215px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 444px;
  left: 664px;
  font-family: Hina Mincho;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v511_61 {
  width: 18px;
  height: 23px;
  background: url("../images/v511_61.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 442px;
  left: 728px;
  overflow: hidden;
}
.v513_8 {
  width: 269px;
  height: 1px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 544px;
  left: 51px;
  overflow: hidden;
}
.v513_20 {
  width: 269px;
  height: 1px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 1148px;
  left: 51px;
  overflow: hidden;
}
.v513_9 {
  width: 269px;
  height: 1px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 728px;
  left: 51px;
  overflow: hidden;
}
.v513_11 {
  width: 192px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 874px;
  left: 57px;
  font-family: Hina Mincho;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v513_16 {
  width: 192px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 1212px;
  left: 57px;
  font-family: Hina Mincho;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v513_12 {
  width: 269px;
  height: 1px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 908px;
  left: 51px;
  overflow: hidden;
}
.v513_17 {
  width: 269px;
  height: 1px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 1246px;
  left: 51px;
  overflow: hidden;
}
.v511_39 {
  width: 606px;
  height: 341px;
  background: url("../images/v511_39.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 37px;
  left: 35px;
  overflow: hidden;
}
.v511_45 {
  width: 214px;
  height: 104px;
  background: url("../images/v511_45.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 274px;
  left: 654px;
  overflow: hidden;
}
.v511_46 {
  width: 214px;
  height: 104px;
  background: url("../images/v511_46.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 37px;
  left: 654px;
  overflow: hidden;
}
.v511_47 {
  width: 214px;
  height: 104px;
  background: url("../images/v511_47.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 156px;
  left: 654px;
  overflow: hidden;
}
.v511_72 {
  width: 100%;
  height: 458px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 4454px;
  left: 0px;
  overflow: hidden;
}
.v511_73 {
  width: 551px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 4622px;
  left: 836px;
  font-family: Hina Mincho;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v511_74 {
  width: 262px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 4620px;
  left: 538px;
  font-family: Hina Mincho;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v511_75 {
  width: 556px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 4480px;
  left: 531px;
  font-family: Hina Mincho;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: center;
}
.v561_6 {
  width: 340px;
  height: 64px;
  background: url("../images/v561_6.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 4804px;
  left: 655px;
  overflow: hidden;
}
.v511_76 {
  width: 335px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 7px;
  left: 0px;
  font-family: Hina Mincho;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v511_77 {
  width: 340px;
  height: 64px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 2px solid rgba(255,255,255,1);
  overflow: hidden;
}
.v511_48 {
  width: 723px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 1286px;
  left: 447px;
  font-family: Zen Kaku Gothic New;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v510_33 {
  width: 944px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 1142px;
  left: 337px;
  font-family: Hina Mincho;
  font-weight: Regular;
  font-size: 48px;
  opacity: 1;
  text-align: center;
}
