#coc6{
  background-color:#2e4550;
}
#session-time{
  background-color:#302433;
}
.w-backgroundvideo-backgroundvideoplaypausebutton:focus-visible {
  outline-offset: 2px;
  border-radius: 50%;
  outline: 2px solid #3b79c3;
}

.w-layout-grid {
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

h1 {
  color: #fff;
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 10vh;
  font-weight: 700;
  line-height: 10vh;
}

h2 {
  color: #fff;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 38px;
  font-weight: 700;
  line-height: 48px;
}

h3 {
  color: #6b6b6b;
  margin-top: 10px;
  margin-bottom: 25px;
  font-size: 24px;
  font-weight: 400;
  line-height: 40px;
}

h4 {
  color: #fff;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}

p {
  color: #6b6b6b;
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 30px;
}

a {
  color: #000;
  text-decoration: underline;
}

.section {
  width: 100%;
  height: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.section.center {
  height: auto;
  min-height: 120vh;
  background-color: #000000;
  background-image: url('../images/top_story_background_green.png');
  background-position: 50% 10%;
  background-repeat: repeat;
  background-size: 809px;
  background-attachment: scroll;
  justify-content: center;
  align-items: flex-start;
  padding-top: 5vh;
  padding-bottom: 10vh;
  display: flex;
  position: relative;
}

.section.center.dice {
  height: auto;
  min-height: 90vh;
  /* background-color: #fff; */
  background-image: url('../images/top_invite_background_gametable.png');
  background-position: 0 0;
  background-size: cover;
  padding-top: 10vh;
}

.section.center.ho {
  min-height: 90vh;
  background-image: url('../images/top_sprules_backoground_playphoto.jpg');
  background-position: 50%;
  background-repeat: repeat;
  background-size: cover;
  background-attachment: scroll;
  padding-top: 10vh;
}

.section.center.rules {
  height: auto;
  min-height: 50vh;
  background-color: #fff;
  background-image: url('../images/top_card_background_item.png');
  background-position: 50% 0;
  background-size: cover;
  padding-top: 5vh;
}

.section.center.session {
  min-height: 50vh;
  background-color: #2a2a2a;
  background-image: url('../images/top_card_background_item.png'), linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5));
  background-position: 50% 100%, 0 0;
  background-size: cover, auto;
  border: 1px #000;
  align-items: center;
  padding-top: 10vh;
}

.section.center.session.gameboard {
  min-height: 60vh;
  background-image: url('../images/top_gallery_image_gameboard.png');
  background-position: 50%;
  background-repeat: repeat;
  background-size: cover;
  background-attachment: scroll;
}

.section.center.session.parkcard {
  background-image: url('../images/top_credit_background_monocro.png');
  background-size: cover;
  padding-top: 5vh;
  padding-bottom: 5vh;
}

.section.center.session.copy_trpg {
  min-height: 60vh;
  background-image: url('../images/top_play_gallery1_playphoto3_.png');
  background-position: 50%;
  background-repeat: repeat;
  background-size: cover;
  background-attachment: scroll;
}

.section.center.session.perkcard {
  min-height: 60vh;
  background-image: url('../images/top_perkcard_background_blue.png');
  background-position: 50%;
  background-repeat: repeat;
  background-size: cover;
  background-attachment: scroll;
  padding-top: 5vh;
  padding-bottom: 5vh;
}

.section.center.title {
  min-height: 60vh;
  background-image: url('../images/0000300_1.jpg');
  background-size: cover;
}

.section.column {
  height: auto;
  justify-content: space-between;
  padding: 15vh 10vw;
  display: flex;
}

.section.column.devices {
  height: auto;
  flex-direction: column;
  align-items: center;
}

.section.column.faq {
  height: auto;
  background-color: #000;
  flex-direction: column;
  align-items: center;
}

.section.cta {
  height: 60vh;
  background-color: #40089c;
  justify-content: space-between;
  align-items: center;
  padding-left: 10vw;
  padding-right: 10vw;
  display: flex;
}

.section.full-img {
  height: auto;
  background-color: rgba(0, 0, 0, 0);
  justify-content: center;
  align-items: center;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
}

.section.wide {
  height: 30vh;
  background-color: #000;
  background-image: url('../images/top_about_background_imagephoto.png');
  background-position: 0 0;
  background-size: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20vh;
  padding-bottom: 10vh;
  display: flex;
}

.section.wide.img {
  min-height: 900px;
  height: 120vh;
  -webkit-text-fill-color: inherit;
  background-color: #000;
  background-image: url('../images/top_outline_backgoround_screen.png');
  background-position: 50%;
  background-size: cover;
  background-attachment: scroll;
  background-clip: padding-box;
  border-radius: 0;
  padding-top: 5vh;
  padding-bottom: 10vh;
}

.section.wide.purple {
  color: #238697;
  background-image: linear-gradient(135deg, #fc0a7e, #602bb6);
  background-position: 0 0;
  background-size: auto;
  padding-top: 15vh;
  padding-bottom: 15vh;
}

.section.wide.img2 {
  min-height: 700px;
  height: 90vh;
  text-shadow: 0 0 #000;
  background-image: url('../images/top_about_background_imagephoto.png');
  background-position: 50%;
  background-size: cover;
  padding-top: 5vh;
  padding-bottom: 10vh;
}

.section.grid-imgs {
  height: 50vh;
  flex-wrap: wrap;
  justify-content: flex-start;
  display: flex;
}

.section.qa {
  background-color: #1b1b1b;
  padding-top: 5vh;
  padding-bottom: 5vh;
}

.section.top {
  background-color: #0f110f;
  padding-top: 10vh;
  padding-bottom: 10px;
}

.col {
  max-width: 50%;
  border: 1px #000;
  flex: 1;
  justify-content: flex-start;
  align-items: center;
  padding-left: 0;
  display: flex;
}

.col.sideimg {
  width: 25vw;
  flex: 0 auto;
}

.col.padding {
  max-width: 50%;
  border-style: none;
  flex: 1;
  padding-left: 9vw;
  padding-right: 9vw;
}

.col.bg {
  border-style: none;
  align-items: flex-start;
  overflow: hidden;
}

.col.vertical {
  flex-direction: column;
}

.col.team {
  flex-basis: 33%;
}

.col.img {
  justify-content: center;
}

.hero {
  z-index: 999999;
  width: 100%;
  height: auto;
  background-color: rgba(0, 0, 0, 0);
  border: 1px #000;
  padding: 0 10vw;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
}

.nav {
  height: auto;
  background-color: rgba(0, 0, 0, 0);
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.nav-inner {
  width: 80vw;
  border-bottom: 1px rgba(255, 255, 255, .1);
  justify-content: space-between;
  align-items: center;
  padding-top: 0;
  padding-bottom: 0;
  display: flex;
}

.body {
  background-color: rgba(0, 0, 0, 0);
  font-family: Gothic A1, sans-serif;
}

.heading {
  color: #fff;
  margin-top: 10px;
  margin-bottom: 0;
  font-size: 10vh;
  font-weight: 500;
  line-height: 9vh;
}

.div-block-2 {
  z-index: 80;
  width: 80vw;
  flex-direction: column;
  align-items: flex-start;
  display: flex;
  position: relative;
}

.image {
  height: 40px;
  margin-bottom: 20px;
}

.feature-content {
  width: 50vw;
  max-width: 450px;
  border: 1px #000;
  flex: none;
  padding-left: 4vw;
  padding-right: 4vw;
}

.feature-content.mid {
  width: 40vw;
  max-width: 500px;
}

.feature-content.icons {
  width: 33.33%;
  max-width: none;
  text-align: center;
  flex-direction: column;
  flex: none;
  align-items: center;
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
}

.feature-content.icons.numbers {
  width: 25%;
}

.heading-2 {
  color: #fff;
  margin-top: 20px;
  margin-bottom: 40px;
  font-size: 26px;
  font-weight: 400;
}

.button {
  color: #fff;
  text-align: center;
  background-color: #fc0a7e;
  border-radius: 3px;
  margin-right: 0;
  padding: 20px 40px;
  font-size: 16px;
  font-weight: 600;
  line-height: 26px;
  transition: background-color .5s cubic-bezier(.789, .159, .25, 1), color .2s cubic-bezier(.789, .159, .25, 1);
  display: inline-block;
}

.button:hover {
  color: #6b6b6b;
  background-color: #fff;
}

.button.outline {
  color: #5a5a5a;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #6e6e6e;
  margin-left: 10px;
}

.button.contact {
  background-color: rgba(0, 0, 0, 0);
  margin-left: 10px;
  box-shadow: inset 0 0 0 2px rgba(255, 255, 255, .2);
}

.button.contact:hover {
  color: #fff;
  box-shadow: inset 0 0 0 2px #fff;
}

.button.top {
  margin-left: 30px;
  padding: 20px 35px;
  font-size: 16px;
}

.button.form-button {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  transition-timing-function: cubic-bezier(.215, .61, .355, 1), cubic-bezier(.215, .61, .355, 1);
}

.button.form-button:hover {
  color: #fff;
  background-color: #000;
}

.h2 {
  color: #fff;
  margin-bottom: 30px;
  font-size: 44px;
  font-weight: 300;
  line-height: 56px;
}

.p {
  color: #6b6b6b;
  font-size: 16px;
  line-height: 30px;
}

.p.list {
  margin-bottom: 0;
}

.div-block-3 {
  height: 8600px;
  background-image: url('../images/richard-01.jpg');
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-size: 100vw;
}

.div-block-3._02 {
  background-image: url('../images/richard-02.jpg');
  background-size: 100vw;
}

.div-block-3._03 {
  height: 6000px;
  background-image: url('../images/richard-03.jpg');
  background-size: 100vw;
}

.div-block-4 {
  width: 65%;
  max-width: 440px;
  flex-direction: column;
  align-items: center;
  display: flex;
}

.div-block-4.left {
  align-items: flex-start;
  margin-bottom: 30px;
}

.img-device {
  height: auto;
  max-height: 450px;
}

.h3 {
  color: #fff;
  margin-top: 40px;
  margin-bottom: 10px;
  font-family: Hina Mincho, sans-serif;
  font-size: 25px;
  font-weight: 500;
}

.paragraph {
  color: #6b6b6b;
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 28px;
}

.div-block-5 {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 60px;
}

.wrapper {
  width: 90%;
  max-width: 1200px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.wrapper.welcome {
  z-index: 90;
  width: 100vw;
  align-items: flex-start;
  position: relative;
}

.wrap {
  max-width: 700px;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  color: rgba(0, 0, 0, 0);
  text-align: center;
  mix-blend-mode: normal;
  background-color: rgba(0, 0, 0, 0);
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  align-self: center;
  margin-top: 0;
  margin-bottom: 20px;
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 0;
  display: block;
}

.wrap.tp {
  background-color: rgba(0, 0, 0, 0);
  margin-top: 0;
}

.wrap.sinario {
  min-width: 250px;
  text-align: left;
  background-color: rgba(0, 0, 0, 0);
  border-bottom: 2px solid #fff;
  align-self: flex-start;
  margin-top: 45px;
  margin-left: 18vw;
  padding-left: 0;
}

.wrap.ho {
  border: 1px #fff;
  border-bottom-style: dashed;
  align-self: flex-start;
  margin-bottom: 10px;
  margin-left: 20vw;
}

.wrap.genre {
  max-width: 800px;
  min-width: auto;
  align-items: center;
  margin-bottom: 0;
  display: flex;
}

.wrap.genre.sp {
  display: none;
}

.wrap.situation {
  align-self: flex-start;
  margin-left: 20vw;
}

.title {
  color: #a8a8a8;
  letter-spacing: 2px;
  text-transform: uppercase;
  border-bottom: 1px #2e2e2e;
  padding-bottom: 5px;
  font-size: 12px;
  display: inline-block;
}

.title.white {
  color: rgba(255, 255, 255, .6);
  border-bottom-color: rgba(255, 255, 255, .4);
}

.image-2 {
  flex: none;
}

.div-block-6 {
  align-items: center;
  display: flex;
}

.div-block-7 {
  width: 100%;
  justify-content: space-between;
  align-items: flex-start;
  padding-bottom: 100px;
  display: flex;
}

.div-block-7.team {
  flex-wrap: wrap;
  justify-content: center;
}

.div-block-8 {
  width: auto;
  height: 150px;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  display: flex;
}

.button-wrap {
  width: auto;
  justify-content: center;
  margin-top: 5vh;
  padding-left: 0;
  padding-right: 0;
  display: flex;
}

.image-3 {
  padding: 10px 30px 30px 0;
}

.thumb-food {
  width: 100%;
  height: 300px;
  background-color: #c6ced3;
  border-radius: 20px;
}

.thumb-food._01 {
  background-image: url('../images/bg-001_1.jpg');
  background-position: 50%;
  background-size: cover;
  border-radius: 12px;
}

.thumb-food._02 {
  background-image: url('../images/bg-001.jpg');
  background-position: 50%;
  background-size: cover;
}

.thumb-food._03 {
  background-image: url('../images/bg-003.jpg');
  background-position: 0 0;
  background-size: cover;
}

.text-block {
  color: #fff;
}

.h4 {
  color: #fff;
  margin-bottom: 10px;
}

.h4.faq {
  margin-top: 20px;
  margin-bottom: 10px;
}

.nav-link {
  color: #fff;
  flex: 0 auto;
  margin-bottom: 20px;
  margin-left: 15px;
  margin-right: 15px;
  padding-top: 40px;
  padding-left: 0;
  padding-right: 0;
  font-size: 16px;
  font-weight: 400;
}

.nav-link:hover {
  color: #fff;
  box-shadow: inset 0 -5px #fc0a7e;
}

.nav-menu {
  height: auto;
}

.div-block-11 {
  width: 100%;
  height: 300px;
  background-color: #acb1b4;
  border-radius: 20px;
}

.ico {
  height: 35px;
  margin-right: 20px;
}

.div-block-12 {
  margin-top: 50px;
}

._w-icon {
  width: 56px;
  height: 80px;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  display: flex;
}

.form {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.field-newsletter {
  width: 340px;
  height: 80px;
  color: #fff;
  background-color: #300479;
  border: 1px solid #300479;
  border-radius: 10px;
  margin-bottom: 0;
  margin-right: 20px;
  padding-left: 20px;
  font-size: 16px;
}

._w-img {
  flex: 1;
  overflow: hidden;
}

.image-4 {
  width: 100%;
  display: block;
}

.icon {
  height: 25px;
}

.nav-list {
  justify-content: space-between;
  margin-right: 30px;
  display: flex;
}

.hero-image {
  height: 85vh;
  position: absolute;
  bottom: 0;
  right: 3vw;
}

.light-blue {
  color: #9b68f0;
}

.black-text {
  color: #000;
}

.hero-content {
  z-index: 90;
  width: 100%;
  padding-left: 10vw;
  padding-right: 10vh;
  position: relative;
}

.feature-wrap {
  width: 90vw;
  border: 1px #000;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 10vh;
  margin-bottom: 10vh;
  padding-left: 10vw;
  padding-right: 10vw;
  display: flex;
}

.feature-wrap.reverse {
  flex-direction: row-reverse;
}

.feature-wrap.logos {
  height: auto;
  border-style: none;
  padding-top: 5vh;
  padding-bottom: 5vh;
}

.feature-wrap.icons {
  justify-content: space-between;
  padding-left: 0;
  padding-right: 0;
}

.feature-image {
  width: 50vw;
  border: 1px #000;
  justify-content: center;
  align-items: center;
  display: flex;
}

.black {
  color: #000;
}

.hero-subhead {
  max-width: 60%;
  color: #fff;
  font-size: 30px;
  line-height: 44px;
}

.bottom-image-wrap {
  height: auto;
  max-width: 100%;
  position: relative;
  overflow: hidden;
}

.black-bar {
  width: 100vw;
  height: 100px;
  background-color: #2a2326;
  position: absolute;
  top: 0;
  left: 0;
}

.feature-icon {
  height: 35px;
  margin-bottom: 30px;
}

.purple {
  color: #b32e6e;
}

.footer {
  background-color: #1b1b1b;
  justify-content: center;
  align-items: center;
  display: flex;
}

.footer-link {
  color: #6b6b6b;
  margin-left: 15px;
  margin-right: 15px;
  font-size: 12px;
  text-decoration: none;
}

.footer-link:hover {
  color: #fff;
}

.footer-list {
  padding-top: 29px;
  padding-bottom: 29px;
}

.text-block-2 {
  color: rgba(255, 255, 255, .3);
  font-size: 12px;
}

.form-2 {
  margin-top: 40px;
  display: flex;
}

.input {
  height: 70px;
  clear: none;
  color: #000;
  background-color: #fff;
  border-style: none;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  flex: 0 auto;
  margin-bottom: 0;
  padding-left: 20px;
  padding-right: 0;
  transition: box-shadow .3s cubic-bezier(.215, .61, .355, 1);
  box-shadow: inset 0 0 #fc0a7e;
}

.input:hover, .input:focus {
  box-shadow: inset 0 0 0 2px #fc0a7e;
}

.input::-ms-input-placeholder {
  color: #555;
}

.input::placeholder {
  color: #555;
}

.arrow {
  margin-left: auto;
  margin-right: auto;
  display: block;
  position: absolute;
  bottom: 30px;
  left: 0;
  right: 0;
}

.quote-slider {
  width: 90vw;
  height: 60vh;
  background-color: rgba(0, 0, 0, 0);
  margin-top: 10vh;
}

.slider-arrow {
  color: #d6d6d6;
}

.quote-wrap {
  width: 50vw;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.quote-attribution {
  justify-content: center;
  align-items: center;
  display: flex;
}

.quote-dash {
  width: 30px;
  height: 1px;
  background-color: #d3d3d3;
  flex: none;
  margin-bottom: 10px;
  margin-left: 20px;
  margin-right: 20px;
}

.quote-icon {
  margin-bottom: 45px;
}

.slide-nav {
  font-size: 7px;
}

.number {
  font-size: 60px;
  line-height: 90px;
}

.float {
  width: 40vw;
  height: 50vh;
  border: 4px solid #09a4ec;
  position: relative;
  top: 200px;
  left: 567px;
}

.nav-logo-wrap {
  flex: none;
}

.image-licensing {
  background-color: rgba(0, 0, 0, .05);
  border: 1px solid rgba(0, 0, 0, .1);
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 15px;
  line-height: 24px;
}

.image-licensing-wrap {
  max-width: 600px;
  flex: 1;
}

.heading-3 {
  font-size: 5vh;
}

.text-block-3 {
  color: #6b6b6b;
  padding-top: 20px;
  font-size: 13px;
}

.paragraph-2 {
  font-size: 20px;
}

.paragraph-3 {
  color: #fff;
  text-align: center;
  margin-bottom: 0;
  font-family: Hina Mincho, sans-serif;
  font-size: 18px;
  line-height: 40px;
}

.paragraph-3.copy {
  text-shadow: 0 1px 5px #000;
}

.background-video {
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/img/background-image.svg');
  background-position: 0 0;
  background-size: auto;
}

.top2 {
  height: 100vh;
}

.navbar {
  background-color: #000;
  display: flex;
  justify-content: space-between;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.nav-link-5 {
  max-width: 150px;
  min-width: auto;
  color: #fff;
  text-align: center;
  font-family: Hina Mincho, sans-serif;
  font-size: 15px;
}

.nav-link-3 {
  max-width: 150px;
  min-width: auto;
  color: #fff;
  font-family: Hina Mincho, sans-serif;
}

.nav-link-4 {
  max-width: 150px;
  min-width: auto;
  color: #fff;
  text-align: center;
  font-family: Hina Mincho, sans-serif;
}

.button-2 {
  color: #fff;
  background-color: #000;
  border: 2px solid #ff5b5b;
  border-radius: 0;
  margin-top: 10px;
}

.button-2.sp {
  max-height: 200px;
  max-width: 300px;
  background-color: #a00;
  border-color: #fff;
  border-radius: 3px;
  align-self: center;
  margin-top: 0;
  margin-left: 20px;
}

.heading-4 {
  margin-top: 0;
  margin-bottom: 60px;
  font-family: Hina Mincho, sans-serif;
  font-size: 45px;
}

.heading-4.credit {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 20px;
  font-size: 30px;
  text-decoration: none;
}

.heading-4.credit.name {
  padding-top: 10px;
  font-size: 20px;
  font-style: normal;
  text-decoration: none;
}

.heading-4.credit.category {
  text-decoration: none;
}

.wrap-2 {
  width: 152.005vh;
  max-width: 700px;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  text-align: center;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  padding-top: 10px;
  padding-bottom: 0;
  display: block;
}

.wrap-2.photo {
  width: auto;
  max-width: none;
  min-height: 700px;
  min-width: 700px;
  background-image: url('../images/top_ivite_frame_square.png');
  background-position: 50%;
  background-size: cover;
  align-self: center;
  padding-top: 40px;
  /* padding-bottom: 50px; */
}

.wrap-2.photo.sp {
  display: none;
}

.image-5 {
  max-height: 99.9998vh;
}

.columns {
  width: 60vw;
}

.image-6, .image-7 {
  margin-bottom: 15px;
}

.heading-5 {
  align-self: center;
  margin-top: 40px;
}

.column-2 {
  padding-left: 0;
  padding-right: 0;
}

.paragraph-4 {
  color: #fff;
  align-self: center;
  margin-bottom: 0;
  padding-top: 0;
  padding-left: 50px;
  padding-right: 50px;
  font-family: Droid Serif, serif;
  font-size: 20px;
  display: flex;
}

.container {
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
}

.text-block-4 {
  color: #fff;
  background-color: #626c55;
  border-radius: 11px;
  align-self: center;
  align-items: center;
  margin-left: 10px;
  padding: 10px 15px;
  display: inline-block;
}

.heading-6 {
  text-align: center;
  align-self: center;
  margin-top: 0;
  margin-bottom: 480px;
  padding-left: 0;
  font-family: Hina Mincho, sans-serif;
  font-size: 35px;
}

.heading-6.sub {
  font-size: 25px;
}

.heading-6.sinario {
  margin-bottom: 10vh;
}

.container-2 {
  padding-left: 40px;
  padding-right: 40px;
}

.container-2.sp_story {
  padding-left: 0;
}

.paragraph-5 {
  color: #fff;
  text-align: left;
  align-self: flex-start;
  margin-bottom: 30px;
  margin-left: 20vw;
  font-family: Hina Mincho, sans-serif;
  font-size: 18px;
  line-height: 40px;
}

.paragraph-5.story {
  height: auto;
  max-width: 800px;
  min-height: 0;
  clear: none;
  text-align: left;
  background-color: rgba(0, 0, 0, 0);
  align-self: flex-start;
  margin: 0 15vw 0 20vw;
  padding: 0 20px 0 0;
  font-family: Hina Mincho, sans-serif;
  font-size: 18px;
  position: static;
}

.paragraph-5.dice {
  font-size: 18px;
}

.paragraph-5.ho {
  max-width: 75vw;
}

.paragraph-5.rules {
  max-width: 800px;
  align-self: center;
  margin-left: 0;
  margin-right: 10vw;
  padding-left: 0;
  padding-right: 20px;
  font-size: 22px;
}

.heading-7 {
  align-self: center;
  font-family: Hina Mincho, sans-serif;
}

.paragraph-6 {
  max-width: 700px;
  color: #fff;
  text-align: center;
  align-self: center;
  margin-bottom: 50px;
  font-family: Hina Mincho, sans-serif;
  font-size: 18px;
}

.paragraph-6.qa {
  max-width: 650px;
  text-align: left;
}

.heading-8 {
  color: #fff;
  text-align: center;
  align-self: center;
  font-family: Bitter, serif;
}

.button-3 {
  background-color: #a90001;
  border: 2px solid #fff;
  align-self: center;
  padding-top: 15px;
  padding-bottom: 15px;
  font-family: Bitter, serif;
  font-size: 20px;
}

.container-3 {
  margin-left: 0;
  margin-right: 0;
  padding-right: 0;
}

.image-8 {
  margin-bottom: 10px;
}

.image-9 {
  margin-right: 5px;
}

.image-10 {
  margin-left: 5px;
  margin-right: 5px;
}

.image-11 {
  margin-left: 5px;
}

.heading-9 {
  margin-bottom: 50px;
  font-family: Hina Mincho, sans-serif;
}

.image-12 {
  padding-bottom: 30px;
}

.bold-text {
  font-size: 18px;
}

.div-block-13 {
  display: block;
}

.background-video-2 {
  display: none;
}

.background-video-3 {
  position: relative;
}

.background-video-4 {
  float: none;
  clear: none;
  display: block;
  position: relative;
}

.background-video-5 {
  width: 100%;
  max-height: 0;
  max-width: none;
  min-height: 100vh;
  min-width: auto;
}

.slide-3 {
  background-image: url('../images/図書館文字入り-0000300-1.png');
  background-position: 50%;
  background-size: cover;
}

.slide-4 {
  background-image: url('../images/cfa0dc2d9aa23910.jpg');
  background-position: 0 0;
  background-size: cover;
}

.slider-2 {
  width: 80%;
  height: 50vh;
  max-width: 700px;
  align-self: center;
  margin-left: 30vh;
  margin-right: 30vh;
}

.slide-5 {
  background-image: url('../images/d5dc12b8b79c920b.jpg');
  background-position: 0 0;
  background-size: cover;
}

.slide-6 {
  background-image: url('../images/calculations.png');
  background-position: 0 0;
  background-size: cover;
}

.slide-nav-2 {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 0;
  font-size: 5px;
  line-height: 14px;
  display: inline-block;
  top: auto;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.image-13 {
  align-self: center;
}

.text-block-5, .text-block-6 {
  color: #fff;
}

.grid {
  color: #fff;
  grid-template: "Area"
                 "."
                 "."
                 "."
                 "."
                 / .25fr 1fr 1fr;
}

.grid-2 {
  max-width: 400px;
  clear: left;
  grid-column-gap: 0px;
  grid-row-gap: 10px;
  color: #fff;
  object-fit: fill;
  background-color: rgba(0, 0, 0, 0);
  grid-template-rows: 1fr auto auto auto auto auto 1fr;
  grid-template-columns: .25fr 1.25fr .75fr;
  grid-auto-flow: row;
  align-content: space-around;
  justify-content: space-around;
  align-items: center;
  justify-items: center;
  margin-left: 20vw;
  padding: 10px 15px;
  font-family: Hina Mincho, sans-serif;
  font-size: 20px;
  position: relative;
}

.image-14 {
  width: 100%;
  height: auto;
  max-width: none;
  min-height: auto;
  align-self: center;
}

.text-block-7 {
  position: absolute;
}

.text-block-8 {
  z-index: auto;
  color: #fff;
  margin-top: 20%;
  margin-left: 30px;
  font-size: 30px;
  position: absolute;
}

.text-block-8.ho1 {
  font-size: 30px;
}

.container-4 {
  height: 50vh;
  min-height: 60px;
}

.text-block-8-copy {
  z-index: auto;
  color: #fff;
  margin-top: 20%;
  margin-left: 30px;
  font-size: 30px;
  position: absolute;
}

.text-block-8-copy.ho1 {
  margin-top: 10%;
  margin-left: 5%;
  font-size: 25px;
}

.text-block-9 {
  color: #fff;
  margin-top: 15%;
  margin-left: 5%;
  position: absolute;
}

.image-15 {
  text-align: center;
  object-fit: cover;
  align-self: center;
  margin-bottom: 30px;
}

.heading-10 {
  color: #fff;
  border-bottom: 0 #fff;
  border-radius: 0;
  align-self: flex-start;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  padding-bottom: 10px;
  padding-right: 30px;
  font-family: Hina Mincho, sans-serif;
  font-size: 24px;
  display: block;
}

.container-5 {
  border-radius: 0;
}

.container-6 {
  align-self: flex-start;
}

.heading11 {
  width: 260px;
  color: #fff;
  text-align: left;
  font-family: Hina Mincho, sans-serif;
  font-size: 20px;
}

.text-block-10 {
  min-width: 100px;
  color: #fff;
  text-align: center;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 5px;
  flex: 1;
  align-self: center;
  margin-left: 0;
  padding: 12px 12px 14px;
  font-family: Hina Mincho, sans-serif;
  font-size: 16px;
  transition: font-variation-settings .2s;
  display: block;
}

.text-block-10.horror {
  min-width: 80px;
  padding-left: 0;
  padding-right: 5px;
}

.container-7 {
  max-width: 250px;
  background-color: #2f472e;
  border-radius: 10px;
  flex: 0 auto;
  align-self: center;
  margin-bottom: 5px;
  padding: 5px 5px 5px 0;
  display: flex;
}

.container-7.horror {
  background-color: #7b7b7b;
  padding-bottom: 5px;
  padding-left: 5px;
}

.titleimage {
  margin-bottom: 19px;
  margin-left: 0;
  margin-right: 10px;
  padding-left: 0;
  display: block;
}

.titleimage.res, .button-4 {
  display: none;
}

.image-17 {
  max-width: none;
  margin-left: 5px;
}

.image-18, .image-19, .image-20, .image-21, .image-22, .image-23 {
  margin-top: 5px;
  margin-bottom: 5px;
}

.image-24 {
  margin-bottom: 5px;
}

.wrap-copy {
  max-width: 700px;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  color: rgba(0, 0, 0, 0);
  text-align: center;
  mix-blend-mode: normal;
  background-color: rgba(0, 0, 0, 0);
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  align-self: center;
  margin-top: 0;
  margin-bottom: 20px;
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 0;
  display: block;
}

.wrap-copy.tp {
  background-color: rgba(0, 0, 0, 0);
  margin-top: 0;
}

.wrap-copy.sinario {
  min-width: 250px;
  text-align: left;
  background-color: rgba(0, 0, 0, 0);
  border-bottom: 2px solid #fff;
  align-self: flex-start;
  margin-top: 30px;
  margin-left: 18vw;
  padding-left: 0;
}

.wrap-copy.ho {
  border: 1px #fff;
  border-bottom-style: dashed;
  align-self: flex-start;
  margin-bottom: 10px;
  margin-left: 20vw;
}

.wrap-copy.genre {
  max-width: 800px;
  min-width: auto;
  align-items: center;
  margin-bottom: 0;
  display: flex;
}

.wrap-copy.genre.sp {
  display: none;
}

.wrap-copy2 {
  max-width: 700px;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  color: rgba(0, 0, 0, 0);
  text-align: center;
  mix-blend-mode: normal;
  background-color: rgba(0, 0, 0, 0);
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  align-self: center;
  margin-top: 0;
  margin-bottom: 20px;
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 0;
  display: block;
}

.wrap-copy2.tp {
  background-color: rgba(0, 0, 0, 0);
  margin-top: 0;
}

.wrap-copy2.sinario {
  min-width: 250px;
  text-align: left;
  background-color: rgba(0, 0, 0, 0);
  border-bottom: 2px solid #fff;
  align-self: flex-start;
  margin-top: 30px;
  margin-left: 18vw;
  padding-left: 0;
}

.wrap-copy2.ho {
  border: 1px #fff;
  border-bottom-style: dashed;
  align-self: flex-start;
  margin-bottom: 10px;
  margin-left: 20vw;
}

.wrap-copy2.genre {
  max-width: 800px;
  min-width: auto;
  align-items: center;
  margin-bottom: 0;
  display: flex;
}

.wrap-copy2.genre.sp {
  display: none;
}

.image-25 {
  align-self: center;
}

.image-26 {
  display: block;
}

.image-27 {
  max-width: 100%;
  align-self: center;
  padding: 30px 39px 30px 40px;
}

.image-28 {
  display: none;
}

.credit {
  text-align: center;
  margin-top: 0;
  margin-bottom: 10px;
  padding-bottom: 20px;
  font-family: Hina Mincho, sans-serif;
  font-size: 18px;
}

.credit.iapro {
  font-size: 25px;
}

@media screen and (max-width: 991px) {

  h2 {
    font-size: 34px;
    line-height: 44px;
  }

  h3 {
    font-size: 20px;
    line-height: 32px;
  }

  a {
    justify-content: center;
    align-items: baseline;
    display: flex;
  }

  .section.center {
    width: auto;
    height: auto;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 5vh;
    padding-right: 0;
  }

  .section.center.dice {
    padding-top: 3vh;
    padding-bottom: 3vh;
  }

  .section.center.ho {
    background-position: 50%;
    padding-bottom: 10vh;
  }

  .section.center.session {
    background-image: url('../images/top_card_background_item.png');
    background-position: 50% 100%;
    background-repeat: repeat;
    background-size: cover;
    background-attachment: scroll;
    padding-top: 3vh;
    padding-bottom: 3vh;
  }

  .section.center.session.perkcard {
    padding-left: 0;
    padding-right: 0;
  }

  .section.qa {
    color: #000;
    background-color: #000;
    padding-top: 5vh;
    padding-bottom: 5vh;
    padding-right: 20px;
  }

  .hero {
    padding-left: 0;
    padding-right: 0;
  }

  .nav, .nav-inner {
    width: 100vw;
  }

  .wrap {
    align-self: center;
    margin-left: 0;
  }

  .wrap.sinario {
    margin-top: 20px;
    margin-left: 8vw;
  }

  .wrap.ho {
    margin-left: 12vw;
  }

  .wrap.genre {
    align-self: center;
    align-items: center;
    margin-left: 0;
  }

  .wrap.session {
    align-self: center;
    margin-left: 0;
  }

  .nav-link {
    padding-top: 20px;
  }

  .nav-link:hover {
    box-shadow: none;
  }

  .nav-menu {
    position: absolute;
  }

  .hero-image {
    width: 70%;
    height: auto;
    margin-bottom: 7vw;
    margin-left: auto;
    margin-right: auto;
    display: block;
    position: relative;
    top: auto;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .hero-content {
    padding-left: 5vw;
    padding-right: 5vw;
  }

  .feature-wrap {
    margin-top: 5vh;
    margin-bottom: 5vh;
    padding-left: 0;
    padding-right: 0;
  }

  .feature-wrap.logos {
    margin-top: 5vh;
    margin-bottom: 5vh;
  }

  .hero-subhead {
    font-size: 24px;
    line-height: 31px;
  }

  .bottom-image-wrap {
    height: auto;
    background-image: none;
  }

  .feature-icon {
    flex: none;
  }

  .quote-slider {
    width: 100vw;
    height: auto;
    min-height: 500px;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .quote-wrap {
    width: 70vw;
  }

  .menu-icon {
    color: #fff;
    font-size: 40px;
  }

  .menu-button.w--open {
    background-color: #000;
  }

  .nav-menu-2 {
    min-width: 240px;
    background-color: #000;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .brand {
    padding-left: 18px;
  }

  .heading-3 {
    font-size: 8vw;
  }

  .button-2 {
    flex-flow: row;
    align-content: flex-end;
    align-items: center;
    margin-top: 0;
    display: inline;
    white-space: nowrap;
  }

  .button-2.sp {
    display: inline;
  }

  .heading-4 {
    margin-bottom: 50px;
  }

  .heading-4.credit.name {
    font-size: 20px;
  }

  .wrap-2 {
    width: auto;
    margin-left: 0;
    padding-left: 0;
  }

  .wrap-2.photo {
    max-width: 700px;
    min-width: 700px;
    object-fit: fill;
    background-size: cover;
    padding-top: 40px;
  }

  .heading-6 {
    margin-top: 21px;
  }

  .paragraph-5 {
    margin-left: 12vw;
  }

  .paragraph-5.story {
    max-width: 700px;
    margin-left: 12vw;
    margin-right: 5vw;
  }

  .paragraph-5.ho {
    max-width: 75vw;
    margin-right: 5vw;
  }

  .icon-2 {
    color: #fff;
  }

  .menu-button-2 {
    text-align: left;
    /* background-color: #000; */
    /* margin-right: 50vh; */
    box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
  }

  .nav-menu-3 {
    background-color: #161817;
  }

  .background-video-5 {
    min-height: 70vh;
  }

  .grid-2 {
    justify-content: center;
    justify-items: center;
    margin-left: 12vw;
  }

  .heading-10 {
    margin-top: 0;
  }

  .text-block-10 {
    max-width: none;
    min-width: 10vw;
  }

  .text-block-10.horror {
    min-width: 60px;
  }

  .container-7 {
    max-width: 13vw;
    padding-left: 5px;
  }

  .titleimage {
    max-width: 60vw;
    align-self: center;
    margin-bottom: 19px;
    display: block;
  }

  .button-4 {
    object-fit: fill;
    background-color: #951c1e;
    display: none;
  }

  .image-17 {
    width: 24%;
    height: 20%;
    align-self: center;
  }

  .wrap-copy {
    align-self: flex-start;
    margin-left: 14vw;
  }

  .wrap-copy.sinario {
    margin-top: 0;
    margin-left: 10vw;
  }

  .wrap-copy.genre {
    align-self: center;
    align-items: center;
    margin-left: 0;
  }

  .wrap-copy.session {
    align-self: center;
    margin-left: 0;
  }

  .wrap-copy2 {
    align-self: flex-start;
    margin-left: 14vw;
  }

  .wrap-copy2.sinario {
    margin-top: 0;
    margin-left: 10vw;
  }

  .wrap-copy2.genre {
    align-self: center;
    align-items: center;
    margin-left: 0;
  }

  .wrap-copy2.session {
    align-self: center;
    margin-left: 0;
  }

  .image-27 {
    padding: 20px 10vw 10px;
  }
}

@media screen and (max-width: 767px) {
  h2 {
    font-size: 28px;
    line-height: 38px;
  }

  .background-video-5 {
    display: none;
  }

  .background-video-2 {
    display: block;
    min-height: 70vh;
  }

  .section.center.dice {
    padding-top: 3vh;
    padding-bottom: 3vh;
  }

  .section.center.session.parkcard {
    clear: left;
    justify-content: center;
    align-items: center;
    padding-top: 5vh;
    font-size: 1445px;
  }

  .section.center.session.copy_trpg {
    background-image: url('../images/DSC02463（大）.png'), linear-gradient(to bottom, null, null);
    background-position: 50%, 0 0;
  }

  .section.wide.img {
    padding-top: 5vh;
  }

  .section.wide.img2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .section.qa {
    padding-left: 3vw;
    padding-right: 20px;
  }

  .section.top {
    padding-top: 0;
  }

  .feature-content.icons {
    width: auto;
    text-align: left;
    align-items: flex-start;
    padding-bottom: 30px;
    padding-left: 0;
    padding-right: 0;
  }

  .feature-content.icons.numbers {
    width: 50%;
    flex: none;
    align-items: center;
  }

  .button.form-button {
    border-top-right-radius: 0;
    border-bottom-left-radius: 3px;
  }

  .wrap {
    width: 100%;
    max-width: none;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    padding-left: 5vw;
    padding-right: 5vw;
    display: flex;
  }

  .wrap.sinario {
    max-width: 433px;
    min-width: auto;
    padding-right: 0;
  }

  .wrap.ho {
    width: auto;
    max-width: 700px;
    align-self: flex-start;
    padding-left: 0;
    padding-right: 0;
  }

  .wrap.genre {
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    grid-template-rows: auto auto;
    grid-template-columns: 2.5fr 2fr 1fr 1fr;
    grid-auto-columns: 1fr;
    display: grid;
  }

  .wrap.genre.sp {
    display: none;
  }

  .wrap.genre.spwide {
    grid-template-rows: auto;
    grid-template-columns: 1.25fr 2fr;
  }

  .wrap.situation {
    margin-left: 10vw;
    padding-left: 0;
  }

  .hero-image {
    margin-bottom: 10vw;
  }

  .hero-content {
    margin-bottom: 5vh;
  }

  .feature-wrap {
    flex-direction: row;
  }

  .feature-wrap.icons {
    flex-flow: wrap;
    display: block;
  }

  .feature-wrap.icons.numbers {
    display: flex;
  }

  .footer-link {
    margin-bottom: 10px;
    display: inline-block;
  }

  .form-2 {
    flex-direction: column;
  }

  .input {
    text-align: center;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 0;
    padding-left: 22px;
    padding-right: 22px;
  }

  .quote-attribution {
    flex-direction: row;
    align-items: center;
  }

  .menu-icon {
    font-size: 30px;
  }

  .form-block {
    width: 100%;
  }

  .navbar {
    justify-content: space-between;
  }

  .heading-4 {
    font-size: 28px;
  }

  .wrap-2 {
    width: 100%;
    max-width: none;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    padding-left: 5vw;
    padding-right: 5vw;
    display: flex;
  }

  .wrap-2.photo {
    height: auto;
    min-height: 800px;
    min-width: 450px;
    background-image: url('../images/top_invite_frame_white.png');
  }

  .heading-6 {
    font-size: 28px;
  }

  .heading-6.sinario {
    margin-top: 20px;
  }

  .paragraph-5, .paragraph-5.story {
    font-size: 13px;
  }

  .paragraph-5.ho {
    padding-right: 20px;
  }

  .menu-button-2 {
    /*margin-right: 25vh;*/
  }

  .bold-text, .bold-text-3 {
    font-size: 13px;
  }

  .grid-2 {
    margin-left: 70px;
    padding-left: 0;
    padding-right: 30px;
  }

  .image-15 {
    max-width: 80%;
  }

  .heading-10 {
    padding-right: 0;
    line-height: 30px;
  }

  .heading11 {
    align-self: flex-start;
  }

  .text-block-10 {
    min-width: 15vw;
    padding-left: 0;
    padding-right: 0;
    overflow: visible;
  }

  .text-block-10.horror {
    min-width: 0;
    margin-left: 0;
    padding-bottom: 12px;
    padding-left: 0;
    padding-right: 0;
  }

  .container-7 {
    max-width: 50vw;
    overflow: visible;
  }

  .container-7.horror {
    max-width: 50vw;
  }

  .titleimage {
    float: none;
    clear: none;
    object-fit: fill;
    display: inline-block;
  }

  .button-4 {
    text-align: center;
  }

  .image-17 {
    width: 20%;
    max-height: 20%;
    max-width: 20%;
    margin-left: 5px;
    margin-right: -6px;
  }

  .wrap-copy {
    width: 100%;
    max-width: none;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    padding-left: 5vw;
    padding-right: 5vw;
    display: flex;
  }

  .wrap-copy.genre.sp {
    align-content: space-between;
    justify-content: center;
    align-items: flex-end;
    display: flex;
  }

  .wrap-copy2 {
    width: 100%;
    max-width: none;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    padding-left: 5vw;
    padding-right: 5vw;
    display: flex;
  }

  .wrap-copy2.genre.sp.sp2 {
    display: block;
  }
}

@media screen and (max-width: 479px) {
  h1 {
    font-size: 60px;
    line-height: 70px;
  }

  h3 {
    font-size: 16px;
  }

  .section.center {
    min-height: 10vh;
    background-image: url('../images/top_story_background_green.png');
    background-position: 50%;
    background-size: cover;
    background-attachment: scroll;
    padding: 0 0;
  }

  .section.center.ho {
    min-height: 0;
    -webkit-text-fill-color: inherit;
    background-image: url('../images/top_sprules_backoground_playphoto.jpg');
    background-position: 38%;
    background-repeat: repeat;
    background-attachment: scroll;
    background-clip: border-box;
    padding-bottom: 11vh;
  }

  .section.center.session {
    min-height: 25vh;
    /* padding-top: 0; */
  }

  .section.center.session.gameboard {
    min-height: 25vh;
  }

  .section.center.session.parkcard {
    min-height: 35vh;
    justify-content: center;
    padding-top: 5vh;
    bottom: auto;
  }

  .section.center.session.copy_trpg {
    min-height: 20vh;
    background-image: url('../images/DSC02463（大）.png'), linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
    background-position: 50%, 0 0;
  }

  .section.wide.img {
    width: auto;
    height: auto;
    min-height: 70vh;
    background-image: url('../images/top_outline_backgoround_screen.png');
    background-position: 46%;
    background-size: cover;
    align-items: center;
  }

  .section.wide.img2 {
    height: auto;
    min-height: 60vh;
    background-position: 50%;
    background-size: cover;
    padding-top: 5vh;
    padding-bottom: 5vh;
  }

  .section.qa {
    padding-top: 5vh;
    padding-bottom: 5vh;
  }

  .section.top {
    background-color: #030504;
    padding-left: 10px;
    padding-right: 10px;
  }

  .hero {
    padding-left: 0;
    padding-right: 0;
  }

  .nav-inner {
    width: 100vw;
  }

  .feature-content {
    width: auto;
  }

  .feature-content.icons.numbers {
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
  }

  .button.contact {
    width: 100%;
    margin-top: 10px;
    margin-left: 0;
  }

  .h3 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: Hina Mincho, sans-serif;
    font-size: 25px;
  }

  .wrap {
    max-width: 220px;
    justify-content: center;
    align-items: center;
    margin-left: 5vw;
    padding-left: 1vw;
    padding-right: 0;
  }

  .wrap.tp {
    max-width: 600px;
    margin-left: 0;
    padding-left: 4vw;
    padding-right: 4vw;
  }

  .wrap.sinario {
    width: auto;
    max-width: 270px;
    min-width: 50px;
    margin-top: 20px;
    margin-left: 5vw;
    display: block;
  }

  .wrap.footer {
    margin-left: 0;
    padding-left: 0;
  }

  .wrap.ho {
    max-width: 200px;
    min-width: 50px;
    margin-left: 10vw;
    padding-left: 0;
  }

  .wrap.genre {
    max-width: none;
    min-width: auto;
    grid-column-gap: 7px;
    grid-row-gap: 10px;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    align-self: flex-start;
    display: none;
  }

  .wrap.genre.sp {
    display: block;
  }

  .wrap.genre.sp.sp2 {
    grid-column-gap: 7px;
    grid-row-gap: 10px;
    grid-template-rows: auto;
    grid-template-columns: .25fr .25fr;
    grid-auto-columns: 1fr;
    align-content: center;
    align-items: start;
    justify-items: center;
    display: grid;
  }

  .wrap.session {
    padding-left: 0;
    display: none;
  }

  .image-2 {
    width: 100%;
  }

  .button-wrap {
    width: 90vw;
    flex-direction: column;
  }

  .hero-image {
    width: 80%;
  }

  .hero-content {
    padding-left: 0;
    padding-right: 0;
  }

  .feature-wrap, .feature-wrap.reverse {
    flex-direction: column;
  }

  .feature-image {
    width: auto;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .feature-icon {
    margin-bottom: 20px;
  }

  .footer-list {
    margin-right: 0;
  }

  .form-2 {
    width: 90vw;
    flex-direction: column;
  }

  .quote-slider {
    width: 100vw;
    padding-left: 5vw;
    padding-right: 5vw;
  }

  .slider-arrow {
    font-size: 24px;
  }

  .left-arrow, .right-arrow {
    width: 15vw;
  }

  .number {
    font-size: 40px;
  }

  .heading-3 {
    font-size: 42px;
    line-height: 56px;
  }

  .paragraph-3 {
    text-align: center;
    margin-bottom: 0;
    margin-left: 20px;
    margin-right: 15px;
    font-size: 11px;
    line-height: 25px;
  }

  .paragraph-3.copy {
    margin-bottom: 0;
    font-size: 14px;
  }

  .navbar {
    justify-content: space-between;
  }

  .nav-link-3 {
    color: #fff;
  }

  .button-2.sp {
    max-height: 120px;
    max-width: 200px;
    float: left;
    clear: none;
    object-fit: fill;
    margin-left: 10vw;
    margin-right: 1vw;
    font-size: 13px;
    display: block;
    position: static;
  }

  .heading-4 {
    max-width: 280px;
    min-width: 0;
    text-align: center;
    align-self: center;
    font-size: 28px;
  }

  .heading-4.credit {
    margin-top: 0;
    padding-top: 0;
    font-size: 20px;
  }

  .heading-4.credit.name {
    text-transform: none;
    white-space: normal;
    margin-top: 0;
    margin-bottom: 20px;
    padding-top: 0;
    font-size: 15px;
  }

  .wrap-2 {
    padding-top: 0;
    padding-left: 1vw;
    padding-right: 3vw;
  }

  .wrap-2.photo {
    max-width: 320px;
    min-width: 240px;
    align-content: center;
    padding: 5vh 0;
    display: none;
  }

  .wrap-2.photo.sp {
    height: 100%;
    max-width: none;
    min-height: 0;
    min-width: 0;
    -webkit-text-fill-color: inherit;
    object-fit: fill;
    background-image: url('../images/top_invite_frame_white.png');
    background-clip: border-box;
    display: block;
    overflow: visible;
  }

  .heading-5 {
    margin-top: 0;
  }

  .paragraph-4 {
    text-align: center;
    padding-bottom: 15px;
    padding-left: 50px;
    display: block;
  }

  .container {
    text-align: center;
    flex: 0 auto;
    order: 0;
    align-self: center;
    display: block;
  }

  .text-block-4 {
    width: 30vw;
    float: left;
    text-align: center;
    margin-bottom: 5px;
    margin-left: 0;
    margin-right: 10px;
    display: block;
  }

  .text-block-4.block01 {
    display: block;
  }

  .heading-6 {
    margin-top: -1px;
    margin-bottom: 40px;
    font-size: 18px;
  }

  .heading-6.sinario {
    margin-top: 20px;
    margin-bottom: 10vh;
  }

  .container-2 {
    padding-left: 30px;
  }

  .container-2.sp_story {
    padding-left: 5px;
    padding-right: 5px;
  }

  .paragraph-5 {
    object-fit: contain;
    margin-left: 10vw;
    padding-right: 20px;
    font-size: 13px;
    overflow: scroll;
  }

  .paragraph-5.story {
    margin-bottom: 5px;
    margin-left: 8vw;
    padding-right: 20px;
    font-size: 13px;
  }

  .paragraph-5.dice {
    margin-left: 0;
    font-size: 15px;
  }

  .paragraph-5.ho {
    min-width: 200px;
    margin-right: 10vw;
    padding-right: 0;
    font-size: 12px;
  }

  .paragraph-5.rules {
    margin-bottom: 40px;
    padding-right: 20px;
  }

  .heading-7 {
    margin-top: 0;
    font-size: 20px;
  }

  .paragraph-6 {
    overflow: visible;
  }

  .paragraph-6.qa {
    margin-left: 20px;
    margin-right: 20px;
    font-size: 13px;
  }

  .heading-8 {
    font-family: Hina Mincho, sans-serif;
    font-size: 20px;
  }

  .button-3 {
    min-width: 30px;
    background-color: #890b0d;
    flex: 0 auto;
    margin-left: 30px;
    margin-right: 30px;
    font-family: Hina Mincho, sans-serif;
    font-size: 15px;
    display: block;
  }

  .container-3 {
    min-width: auto;
    float: none;
    clear: right;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    text-align: left;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    justify-content: space-between;
    padding-right: 0;
    display: flex;
  }

  .icon-2 {
    float: right;
    clear: left;
    color: #fff;
    flex: 1;
    justify-content: flex-start;
    align-items: flex-start;
    margin-right: 0;
    display: block;
  }

  .menu-button-2 {
    max-width: 30px;
    min-width: 30px;
    float: right;
    clear: both;
    flex: 1;
    order: 0;
    justify-content: space-between;
    align-items: flex-start;
    margin-right: 1vh;
    padding-left: 0;
    padding-right: 0;
    display: flex;
  }

  .image-9 {
    margin-bottom: 10px;
  }

  .image-10 {
    margin-bottom: 10px;
    margin-left: 0;
  }

  .image-11 {
    margin-left: 0;
  }

  .heading-9 {
    margin-top: 0;
    font-family: Hina Mincho, sans-serif;
  }

  .nav-menu-3 {
    background-color: #161817;
    margin-right: 0;
    padding-bottom: 10px;
  }

  .image-12 {
    padding-bottom: 0;
  }

  .bold-text {
    font-size: 13px;
  }

  .div-block-13 {
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    object-fit: fill;
    grid-template-rows: auto auto;
    grid-template-columns: 1.25fr 1fr;
    grid-auto-columns: 1fr;
    display: grid;
  }

  .html-embed {
    display: block;
  }

  .background-video-2 {
    display: block;
    min-height: 100vh;
  }

  .background-video-5 {
    display: none;
  }

  .bold-text-2 {
    font-size: 13px;
  }

  .mask {
    background-image: url('../images/図書館文字入り-0000300-1.png');
    background-position: 0 0;
    background-size: auto;
  }

  .right-arrow-2 {
    width: 40px;
  }

  .slide {
    width: 50vw;
    height: 30vh;
  }

  .slider {
    height: 600px;
  }

  .right-arrow-3, .left-arrow-2 {
    width: 40px;
  }

  .slide-2 {
    width: 100%;
  }

  .right-arrow-4, .left-arrow-3 {
    width: 40px;
  }

  .slide-3 {
    width: 100%;
    height: 100%;
    background-image: url('../images/図書館文字入り-0000300-1.png');
    background-position: 50%;
    background-size: cover;
  }

  .slide-4 {
    width: 100%;
    background-image: url('../images/cfa0dc2d9aa23910.jpg');
    background-position: 50%;
    background-size: cover;
  }

  .mask-2 {
    width: 100%;
  }

  .slider-2 {
    width: 100%;
    height: 100%;
  }

  .slide-5 {
    background-image: url('../images/calculations.png');
    background-position: 50%;
    background-size: cover;
  }

  .slide-6 {
    background-image: url('../images/d5dc12b8b79c920b.jpg');
    background-position: 0 0;
    background-size: cover;
  }

  .bold-text-3 {
    font-size: 14px;
    line-height: 20px;
  }

  .grid-2 {
    max-width: 230px;
    grid-row-gap: 10px;
    grid-template-columns: .25fr 1fr 1.5fr;
    align-self: flex-start;
    margin-left: 10vw;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .heading-10 {
    padding-top: 10px;
    font-size: 20px;
  }

  .heading11 {
    align-self: flex-start;
    font-size: 16px;
  }

  .text-block-10 {
    max-width: 20vw;
    min-width: 100px;
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    font-size: 12px;
    display: block;
  }

  .text-block-10.horror {
    max-width: 18vw;
    min-width: 60px;
    margin-top: 3px;
  }

  .container-7 {
    max-height: 35px;
    max-width: 25vw;
    justify-content: center;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
    font-size: 12px;
    display: flex;
  }

  .container-7.horror {
    max-width: 80px;
    padding-bottom: 0;
    display: flex;
  }

  .titleimage {
    text-align: center;
    margin-bottom: 10px;
    margin-left: 0;
    display: none;
  }

  .titleimage.res {
    margin-bottom: 30px;
    display: block;
  }

  .button-4 {
    width: auto;
    max-height: 60px;
    max-width: 160px;
    min-width: 60px;
    text-align: center;
    background-color: #a10003;
    border: 2px solid #fff;
    flex: 1;
    align-self: center;
    margin: 10px 0 10px 4vw;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 12px;
    display: block;
  }

  .text-block-11 {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 0;
    font-size: 13px;
  }

  .image-17 {
    width: 18%;
    height: 18%;
    margin-top: 4px;
  }

  .twitter {
    min-width: 100px;
  }

  .image-20 {
    margin-right: 1vw;
  }

  .wrap-copy {
    max-width: 700px;
    justify-content: center;
    align-items: center;
    margin-left: 8vw;
    padding-left: 0;
    padding-right: 0;
  }

  .wrap-copy.tp {
    padding-left: 4vw;
    padding-right: 4vw;
  }

  .wrap-copy.sinario {
    width: auto;
    max-width: 250px;
    min-width: 50px;
    margin-top: 20px;
    margin-left: 5vw;
    display: block;
  }

  .wrap-copy.ho {
    max-width: 200px;
    min-width: 50px;
    margin-left: 10vw;
    padding-left: 0;
  }

  .wrap-copy.genre {
    max-width: none;
    min-width: auto;
    grid-column-gap: 7px;
    grid-row-gap: 10px;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    align-self: flex-start;
    display: none;
  }

  .wrap-copy.genre.sp {
    grid-column-gap: 7px;
    grid-row-gap: 10px;
    grid-template-rows: auto;
    grid-template-columns: .25fr .25fr;
    grid-auto-columns: 1fr;
    display: grid;
  }

  .wrap-copy.session {
    padding-left: 0;
  }

  .wrap-copy2 {
    max-width: 700px;
    justify-content: center;
    align-items: center;
    margin-left: 8vw;
    padding-left: 0;
    padding-right: 0;
  }

  .wrap-copy2.tp {
    padding-left: 4vw;
    padding-right: 4vw;
  }

  .wrap-copy2.sinario {
    width: auto;
    max-width: 250px;
    min-width: 50px;
    margin-top: 20px;
    margin-left: 5vw;
    display: block;
  }

  .wrap-copy2.ho {
    max-width: 200px;
    min-width: 50px;
    margin-left: 10vw;
    padding-left: 0;
  }

  .wrap-copy2.genre {
    max-width: none;
    min-width: auto;
    grid-column-gap: 7px;
    grid-row-gap: 10px;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    align-self: flex-start;
    display: none;
  }

  .wrap-copy2.genre.sp {
    display: block;
  }

  .wrap-copy2.genre.sp.sp2 {
    grid-column-gap: 7px;
    grid-row-gap: 10px;
    grid-template-rows: auto;
    grid-template-columns: .25fr .25fr .25fr;
    grid-auto-columns: 1fr;
    align-content: center;
    display: block;
  }

  .wrap-copy2.session {
    padding-left: 0;
  }

  .container-8 {
    opacity: 0;
    flex: 1;
  }

  .image-27 {
    padding-left: 0;
    display: none;
  }

  .image-28 {
    padding: 20px 16px 20px 15px;
    display: block;
  }

  .credit {
    margin-top: 0;
    font-family: Hina Mincho, sans-serif;
    font-size: 15px;
    font-weight: 400;
  }
}

#w-node-_604b5b8f-e7c5-47bc-dfad-29550c8f2fb9-d4a413f7 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_604b5b8f-e7c5-47bc-dfad-29550c8f2fba-d4a413f7 {
  grid-area: span 1 / span 1 / span 1 / span 1;
  align-self: center;
  justify-self: center;
}

#w-node-_604b5b8f-e7c5-47bc-dfad-29550c8f2fbc-d4a413f7, #w-node-_604b5b8f-e7c5-47bc-dfad-29550c8f2fbe-d4a413f7, #w-node-_604b5b8f-e7c5-47bc-dfad-29550c8f2fbf-d4a413f7, #w-node-_604b5b8f-e7c5-47bc-dfad-29550c8f2fc1-d4a413f7, #w-node-_604b5b8f-e7c5-47bc-dfad-29550c8f2fc3-d4a413f7, #w-node-_604b5b8f-e7c5-47bc-dfad-29550c8f2fc4-d4a413f7, #w-node-_604b5b8f-e7c5-47bc-dfad-29550c8f2fc6-d4a413f7, #w-node-_604b5b8f-e7c5-47bc-dfad-29550c8f2fc8-d4a413f7, #w-node-_604b5b8f-e7c5-47bc-dfad-29550c8f2fc9-d4a413f7, #w-node-_604b5b8f-e7c5-47bc-dfad-29550c8f2fcc-d4a413f7, #w-node-_604b5b8f-e7c5-47bc-dfad-29550c8f2fce-d4a413f7, #w-node-_604b5b8f-e7c5-47bc-dfad-29550c8f2fcf-d4a413f7, #w-node-_604b5b8f-e7c5-47bc-dfad-29550c8f2fd1-d4a413f7, #w-node-_604b5b8f-e7c5-47bc-dfad-29550c8f2fd3-d4a413f7, #w-node-_604b5b8f-e7c5-47bc-dfad-29550c8f2fd4-d4a413f7, #w-node-_604b5b8f-e7c5-47bc-dfad-29550c8f2fd6-d4a413f7, #w-node-_604b5b8f-e7c5-47bc-dfad-29550c8f2fd8-d4a413f7, #w-node-_604b5b8f-e7c5-47bc-dfad-29550c8f2fd9-d4a413f7, #w-node-_604b5b8f-e7c5-47bc-dfad-29550c8f2fdb-d4a413f7 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

@media screen and (max-width: 991px) {
  #w-node-_604b5b8f-e7c5-47bc-dfad-29550c8f2fbf-d4a413f7, #w-node-_604b5b8f-e7c5-47bc-dfad-29550c8f2fc4-d4a413f7, #w-node-_604b5b8f-e7c5-47bc-dfad-29550c8f2fc9-d4a413f7, #w-node-_604b5b8f-e7c5-47bc-dfad-29550c8f2fcf-d4a413f7, #w-node-_604b5b8f-e7c5-47bc-dfad-29550c8f2fd4-d4a413f7, #w-node-_604b5b8f-e7c5-47bc-dfad-29550c8f2fd9-d4a413f7 {
    justify-self: center;
  }
}

@media screen and (max-width: 767px) {
  #w-node-c7c9e12f-d51e-53b8-5941-c218a68b8b6d-d4a413f7, #w-node-c7c9e12f-d51e-53b8-5941-c218a68b8b73-d4a413f7 {
    grid-area: span 1 / span 1 / span 1 / span 1;
  }
}

@media screen and (max-width: 479px) {
  #w-node-_76067863-4145-9e99-6115-b3c757e199a9-d4a413f7 {
    grid-area: span 2 / span 2 / span 2 / span 2;
  }

  #w-node-c7c9e12f-d51e-53b8-5941-c218a68b8b67-d4a413f7, #w-node-b1bef7f7-149f-5ab5-d061-24ed3ae89d52-d4a413f7, #w-node-a9e64e62-029f-d97f-963e-95027e43dddc-d4a413f7, #w-node-_38a4893f-fb8d-97d7-dd8d-0d6c50ccd04c-d4a413f7 {
    justify-self: center;
  }

  #w-node-_38a4893f-fb8d-97d7-dd8d-0d6c50ccd052-d4a413f7, #w-node-_604b5b8f-e7c5-47bc-dfad-29550c8f2fb9-d4a413f7, #w-node-_604b5b8f-e7c5-47bc-dfad-29550c8f2fbe-d4a413f7 {
    grid-area: span 1 / span 1 / span 1 / span 1;
  }
}




.fanbox_button{
  width:180px;
}
a.fanbox_button{
  margin:auto;
  padding:1px;
}
